OPENAI_API_KEY=replace_with_your_new_openai_api_key
R2_ACCOUNT_ID=replace_with_your_cloudflare_account_id
R2_BUCKET_NAME=jpis-media
R2_ACCESS_KEY_ID=replace_with_your_r2_access_key_id
R2_SECRET_ACCESS_KEY=replace_with_your_r2_secret_access_key
R2_ENDPOINT_URL=https://replace_with_your_cloudflare_account_id.r2.cloudflarestorage.com
R2_PUBLIC_BASE_URL=replace_with_your_r2_public_base_url
CLOUDFLARE_API_TOKEN=replace_with_your_cloudflare_api_token
CLOUDFLARE_ACCOUNT_ID=replace_with_your_cloudflare_account_id
CLOUDFLARE_D1_DATABASE_ID=replace_with_your_cloudflare_d1_database_id
